# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.sdf
*.ipch
*.pch
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.obj
*.exp
*.tlb
*.tlh
*.aps
*.ncb
*.opt
*.plg
*.log
*.tmp
*.cache
*.VC.db
*.opendb

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeScripts/
*.cmake
!CMakeLists.txt
build/
out/
*-prefix/
*-build/
*-download/
*-tmp/
*-install/

# Сборки (Debug/Release)
Debug/
Release/
x64/
x86/
Win32/
arm/
ARM64/

# Файлы, генерируемые IDE (CLion, QtCreator и т.п.)
.idea/
*.iml
*.kdev4
*.swp
*.swo
*~
.DS_Store
Thumbs.db
